streamlit
streamlit-option-menu
pandas
mysql-connector-python
opencv-python-headless
numpy 
setuptools
scikit-image
plotly
bokeh
argon2-cffi
anyio
matplotlib
Pillow
toolz
altair
folium
streamlit-folium
openpyxl
